name: "Frogbot Scan and Fix"
on:
  workflow_dispatch: # Allows you to click a button to run it immediately
  schedule:
    # The repository will be scanned once a day at 00:00 GMT.
    - cron: "0 0 * * *"
permissions:
  contents: write
  pull-requests: write
  security-events: write
jobs:
  create-fix-pull-requests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # The repository scanning will be triggered periodically on the following branches.
        branch: [ "master" ] # Note: project-examples uses 'master', not 'main'
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch }}
      # Install prerequisites (Node is good for the npm-example in your repo)
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - uses: jfrog/frogbot@v2
        env:
          # [Mandatory]
          # JFrog platform URL
          JF_URL: ${{ secrets.JF_URL }}
          # [Mandatory]
          # JFrog access token with 'read' permissions on Xray service
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
          JF_WORKING_DIR: npm-example
          # [Mandatory]
          # The GitHub token automatically generated for the job
          JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
